body {
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.center {
    text-align: center;
    margin: auto;
}

.hidden {
    display: none;
}

#header {
    font-weight: bold;
    font-size: 24px;
    font-family: sans-serif;
}

#past-data table {
    border-collapse: collapse;
}

#past-data th, #past-data td {
    border: 1px solid grey;
    padding: 4px;
}

#collapse-data-past {
    display: none;
    margin-bottom: 10px;
}